/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pictures-of-the-moment > .title {
        font-size: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .pictures-of-the-moment > .title {
        font-size: 1.1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pictures-of-the-moment > .title {
        font-size: 1.2em;
    }
}

@keyframes drag-picture {
    from {
        transform: scale(105%) translate(1%, 0.5%);
    }
    to {
        transform: scale(105%) translate(-1%, -0.5%);
    }
}

@keyframes load-bar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.pictures-of-the-moment {
    .carousel-container {
        pointer-events: none;
    }
    
    > .title {
        padding-bottom: 1em;
        margin: 1em 0;
        margin-top: 1.5em;
        border-bottom: 1px solid #2f313a;
        display: inline-block;
        font-weight: normal;
    }

    text-align: center;

    .slide {
        position: relative;
        border-radius: 4px;
        transform: scale(100%);
        transition: transform .5s;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgb(18, 17, 26);
            opacity: 0;
            transition: opacity .5s;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 100%;
            background: #4e82d1ce;
            z-index: 1;
            opacity: 0;
            transition: opacity .5s;
        }

        overflow: hidden;

        img {
            z-index: 0;
            transform: scale(105%);
        }

        &.depth-0 {
            img {
                animation: drag-picture 5s;
                animation-timing-function: linear;
            }
    
            &:before {
                opacity: 1;
                animation: load-bar 5s;
                animation-timing-function: linear;
            }
        }
        
        &.depth-1:after {
            opacity: 0.35;
        }

        &.depth-2:after {
            opacity: 0.7;
        }

        &.active-slide:after {
            opacity: 0;
        }
    }
}