.dashboard {
    margin: 1em;
}

.album-selector {

}

.container {
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    margin: 1em 0;
}

.labeled-container {
    display: flex;
    align-items: center;

    label {
        padding-right: .5em;
    }
}