.albums-overview {
    h1 {
        text-align: center;
        padding: 0.7em 0;
    }

    .albums-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 325px);
        justify-content: space-evenly;
    
        .album-container {
            cursor: pointer;
            margin-bottom: 2em;
            padding: 0.5em;
            transition: all 300ms;
            border-radius: 0.3em;


            &:hover {
                background-color: #181a22;
                
                .picture-container > .lazy-loaded-image {
                    transform: translate(-50%, -50%) rotate(1deg) scale(1.1);
                }
    
                .picture-container::after {
                    opacity: 0;
                }
            }
    
            h2 {
                font-weight: normal;
                margin-top: 0.3em;
            }

            .album-details {
                display: flex;
                flex-direction: column;
                color: #bcccdd;
                font-weight: lighter;
                font-size: .7em;
            }

            .picture-container {
                position: relative;
                height: 200px;
                overflow: hidden;
                border-radius: 0.3em;
                background-color: #4a81b1;

                .pictures-count {
                    position: absolute;
                    background-color: #262830c4;
                    border-radius: 0.2em;
                    padding: 0.2em 0.5em;
                    font-size: 0.7em;
                    top: 7px;
                    right: 7px;
                    z-index: 11;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 1.5em;
                        padding-right: 0.2em;
                        padding-top: 0.1em;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    opacity: 0.1;
                    transition: all 300ms;
                    z-index: 10;
                }
    
                .lazy-loaded-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 300ms;
                }
            }
        }
    }
}