/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.app {
    min-height: 100%;
    background-color: #1d2028;

    .retour {
        position: absolute;
        cursor: pointer;
        font-size: 1.5em;
        top: 5px;
        z-index: 10;

        &:hover {
            text-decoration: underline;
        }
    }

    .app-simple-header {
        display: flex;
        align-items: end;
        border-bottom: 1px solid #262830;

        .logo-container {
            padding: 0.5em 2em;
            img {
                height: 150px
            }
        }

        .header-links {

            ul {
                display: flex;
                list-style-type: none;
                padding: 0 1em;

                li {
                    padding: 1em;

                    a {
                        padding: 1em;
                        position: relative;
                        display: flex;
                        align-items: center;
                        transition: all 100ms;

                        span {
                            padding-right: .2em;
                        }

                        &:visited {
                            color: inherit;
                        }
                        
                        &:hover {
                            color: #73a1e3;
                            transition: all 200ms;
    
                            &:after {
                                width: 100%;
                                background-color: #73a1e3;
                                transition: all 200ms;
                            }
                        }
    
                        &.active, &:active {
                            color: #4e83d1;
    
                            &:after {
                                width: 100%;
                                background-color: #4e83d1;
                            }
                        }
    
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 2px;
                            width: 0;
                            background-color: #4e83d1;
                            transition: all 100ms;
                        }
                    }
                }
                }
        }
    }
}